body, html {
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow-y: auto;
}

.navbar, .navbar-default, .form-control, .btn {
	border-radius: 0;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	border: 0;
	margin: 0;
}

.navbar-nav, .navbar-right, .navbar-left, .navbar-header {
	border: 0;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-nav li a {
	color: #fff !important;
}

.navbar-nav li a:hover {
	color: #aaa !important;
}

.navbar-brand {
	color: #fff !important;
}

.navbar-brand:hover {
	color: #aaa !important;
}

.navbar-brand i {
	font-size: 23px !important; 
	line-height: 23px !important; 
	vertical-align: middle !important;
}

#home {
	background-color: #FFCC66;
}

#projects {
	background-color: #FF9966;
}

#about {
	background-color: #33CCFF;
}

#page {
	margin-top: 50px;
}

#search {
	background-color: #222;
	border-color: #444;
	color: #fff;
	transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
}

a {
	cursor: pointer;
}

.page {
	height: 100%;
	margin: 0;
	padding: 0;
}

#search::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
}
#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}
#search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}
#search:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #aaa;
}